body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

#root{
  /* display: flex; */
  color: var(--white);
  background: linear-gradient(to bottom left,#216e93,#21648a,#1f5881,#172d5b,#191c51);
  position: relative;
}

#logo{
  padding-top: 25px;
  text-align: center;
}

nav#dashboard-nav{
  padding-top: 1em;
}

nav#dashboard-nav ul li, nav#log-nav ul li{
  list-style: none;
  font-size: 15px;
}

nav#log-nav ul li a{
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  display: block;
}

nav#dashboard-nav ul a{
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 1em;
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

nav#dashboard-nav ul li{
  position: relative;
  opacity: 0.6;
}
nav#dashboard-nav ul li:active{
  opacity: 1;
  border-right: 3px solid #83e8a2;
}
nav#dashboard-nav ul li:hover{
  opacity: 1;
}

nav#dashboard-nav ul li#dashboard:before{
  background-image: url(./img/Dashboard.svg);
}
nav#dashboard-nav ul li#costs:before{
  background-image: url(./img/Cost.svg);
}
nav#dashboard-nav ul li#applicances:before{
  background-image: url(./img/Appliances.svg);
}
nav#dashboard-nav ul li#usage_by_rooms:before{
  background-image: url(./img/Usage_by_rooms.svg);
}
nav#dashboard-nav ul li#emissions:before{
  background-image: url(./img/Emissions.svg);
}
nav#dashboard-nav ul li:before{
  background-repeat: no-repeat;
  background-size: 24px 24px;
  color: white;
  content: "";
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 13px;
  opacity: .6;
}

nav#dashboard-nav ul li a{
  margin-bottom: 20px;
}

#header aside{
  font-family: 'Nunito Sans', sans-serif;
}

#dashboard-home{
  font-family: 'Nunito Sans', sans-serif;
}

.text-right{
  float: right;
}

.buttonwrapper {
  list-style: none;
  padding: 5px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  border-radius: 50px;
  background-color: hsla(0,0%,100%,.13);
}

.buttonwrapper li {
  display: block;
  float: left;
  margin-left: 35px;
  height: 35px;
  width: 80px;
}

.buttonwrapper li.active label {
  background-color: #182142;
  border-radius: 50px;
}
.buttonwrapper label {
  display: block;
  color: #fff;
  /* font-family: Nunito Sans Light; */
  opacity: 1;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  padding: 8px 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.date-indicator {
  font-size: 20px;
}

g.raphael-group-16-creditgroup {
  display: none;
}

.chart div{
  margin: auto;
}

//Hide the Fusion Charts tags
.fusioncharts-container svg g:nth-child(4) {
  display: none;
}

#log-nav ul{
  margin: 0;
  padding: 0;
} 

#log-body{
  display: flex;
  flex-direction: row;
  background-color: #17202e;
  min-height: calc(100vh - 48px);
  height: auto;
}